<img src="assets/imgs/load.gif" class="loading" *ngIf="loading">
<div class="container">

  <div class="NavBar">
    <!-- input to type screen name , button to load new tweets , -->

    <div class="left-side">
      <h1>ZAPPY</h1>
    </div>

    <div class="right-side">
      <!-- <input class="form-input" type="text" placeholder="Enter your twitter id ex: @zappy"> -->
      <button class="btn" (click)="getTweets()">Get Tweets</button>
    </div>

  </div>

  <div class="myList">

    <div *ngFor="let tweet of tweets" class="list_item">
      <strong>{{ tweet.screenName}}</strong>
      <p>{{ tweet.tweet }}</p>
    </div>

  </div>

</div>